.ui.admin-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.ui.header {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bolder;
}

.ui.sub-header {
    font-size: 1em;
    margin-bottom: 20px;
}

.ui.description {
    font-size: 1em;
    margin-bottom: 20px;
}

.ui.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.ui.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 500px; /* Increased width to accommodate the images */
}

.ui.content {
    margin-bottom: 15px;
}

.ui.extra.content {
    display: flex;
    gap: 10px;
}

.ui.mini.image {
    width: 270px; /* Adjusted to fit within the card's new width */
    height: 200px;
    object-fit: cover;
    border-radius: 10%;
}

.ui.loading,
.ui.error {
    text-align: center;
    font-size: 1.5em;
    margin-top: 50px;
}
